<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.UseraddressMapper">
    <resultMap id="useraddressMap" type="com.store.model.UseraddressModel">
                    <id column="addressid" property="addressid" javaType="String" />
                    <result column="userid" property="userid" javaType="String" />
                    <result column="provincename" property="provincename" javaType="String" />
                    <result column="cityname" property="cityname" javaType="String" />
                    <result column="areaname" property="areaname" javaType="String" />
                    <result column="receivename" property="receivename" javaType="String" />
                    <result column="receivephone" property="receivephone" javaType="String" />
                    <result column="addressdetail" property="addressdetail" javaType="String" />
                    <result column="useraddressMapper" property="useraddressMapper" javaType="String" />
                    <result column="isdefault" property="isdefault" javaType="String" />
                    <result column="lat" property="lat" javaType="String" />
                    <result column="lng" property="lng" javaType="String" />
                    <result column="createtime" property="createtime" javaType="Date" />
                    <result column="valid" property="valid" javaType="String" />
    </resultMap>

    <select id="getList" parameterType="useraddressModel" resultType="useraddressModel">
		SELECT
                    userid,
                    addressid,
                    provincename,
                    cityname,
                    areaname,
                    receivename,
                    receivephone,
                    addressdetail,
                    housenumber,
                    isdefault,
                    lat,
                    lng,
                    createtime,
                    valid
		FROM
            Useraddress tbl
        where 1=1
            <if test="userid != '' and userid != null ">
                and userid = #{userid}
            </if>
            <if test="addressid != '' and addressid != null ">
                and addressid = #{addressid}
            </if>
            <if test="provincename != '' and provincename != null ">
                and provincename = #{provincename}
            </if>
            <if test="cityname != '' and cityname != null ">
                and cityname = #{cityname}
            </if>
            <if test="areaname != '' and areaname != null ">
                and areaname = #{areaname}
            </if>
            <if test="receivename != '' and receivename != null ">
                and receivename = #{receivename}
            </if>
            <if test="receivephone != '' and receivephone != null ">
                and receivephone = #{receivephone}
            </if>
            <if test="addressdetail != '' and addressdetail != null ">
                and addressdetail = #{addressdetail}
            </if>
            <if test="housenumber != '' and housenumber != null ">
                and housenumber = #{housenumber}
            </if>
            <if test="isdefault != '' and isdefault != null ">
                and isdefault = #{isdefault}
            </if>
            <if test="lat != '' and lat != null ">
                and lat = #{lat}
            </if>
            <if test="lng != '' and lng != null ">
                and lng = #{lng}
            </if>
            <if test=" createtime != null ">
                and createtime = #{createtime}
            </if>
            <if test="valid != '' and valid != null ">
                and valid = #{valid}
            </if>
        limit ${pageNow},${pageSize}
	</select>
    
    <select id="getCount" parameterType="useraddressModel" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM Useraddress
        where 1=1
            <if test="userid != '' and userid != null ">
                and userid = #{userid}
            </if>
            <if test="addressid != '' and addressid != null ">
                and addressid = #{addressid}
            </if>
            <if test="provincename != '' and provincename != null ">
                and provincename = #{provincename}
            </if>
            <if test="cityname != '' and cityname != null ">
                and cityname = #{cityname}
            </if>
            <if test="areaname != '' and areaname != null ">
                and areaname = #{areaname}
            </if>
            <if test="receivename != '' and receivename != null ">
                and receivename = #{receivename}
            </if>
            <if test="receivephone != '' and receivephone != null ">
                and receivephone = #{receivephone}
            </if>
            <if test="addressdetail != '' and addressdetail != null ">
                and addressdetail = #{addressdetail}
            </if>
            <if test="isdefault != '' and isdefault != null ">
                and isdefault = #{isdefault}
            </if>
            <if test="lat != '' and lat != null ">
                and lat = #{lat}
            </if>
            <if test="lng != '' and lng != null ">
                and lng = #{lng}
            </if>
            <if test=" createtime != null ">
                and createtime = #{createtime}
            </if>
            <if test="valid != '' and valid != null ">
                and valid = #{valid}
            </if>
    </select>

    <update id="update" parameterType="useraddressModel" >
        update Useraddress tbl
        set addressid = addressid
            <if test="userid != '' and userid != null ">
                ,userid =#{userid}
            </if>
            <if test="provincename != '' and provincename != null ">
                ,provincename =#{provincename}
            </if>
            <if test="cityname != '' and cityname != null ">
                ,cityname =#{cityname}
            </if>
            <if test="areaname != '' and areaname != null ">
                ,areaname =#{areaname}
            </if>
            <if test="receivename != '' and receivename != null ">
                ,receivename =#{receivename}
            </if>
            <if test="receivephone != '' and receivephone != null ">
                ,receivephone =#{receivephone}
            </if>
            <if test="addressdetail != '' and addressdetail != null ">
                ,addressdetail =#{addressdetail}
            </if>
            <if test="housenumber != '' and housenumber != null ">
                ,housenumber =#{housenumber}
            </if>
            <if test="isdefault != '' and isdefault != null ">
                ,isdefault =#{isdefault}
            </if>
            <if test="lat != '' and lat != null ">
                ,lat =#{lat}
            </if>
            <if test="lng != '' and lng != null ">
                ,lng =#{lng}
            </if>
            <if test=" createtime != null ">
                ,createtime =#{createtime}
            </if>
            <if test="valid != '' and valid != null ">
                ,valid =#{valid}
            </if>
        where 1=1
        <if test="userid != '' and userid != null ">
            and userid =#{userid}
        </if>
        <if test="addressid != '' and addressid != null ">
            and addressid = #{addressid}
        </if>
    </update>

    <update id="disableOrEnable" parameterType="useraddressModel">
        update Useraddress set valid = ${valid} where addressid
        <foreach collection="idList" item="primaryKey" index="no" open="("
                 separator="," close=")">
            #{primaryKey}
        </foreach>
    </update>

    <delete id="delete" parameterType="useraddressModel">
        delete FROM  Useraddress where
        addressid in
        <foreach collection="idList" item="primaryKey" index="no" open="("
                 separator="," close=")">
            #{primaryKey}
        </foreach>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="addressid" parameterType="useraddressModel">
        <selectKey  keyProperty="addressid" resultType="java.lang.String" order="BEFORE">
            select uuid()
        </selectKey>
        insert into Useraddress
        (
                    userid,
                    addressid,
                    provincename,
                    cityname,
                    areaname,
                    receivename,
                    receivephone,
                    addressdetail,
                    housenumber,
                    isdefault,
                    lat,
                    lng,
                    createtime,
                    valid
        )
        values
        (
                    #{userid},
                    #{addressid},
                    #{provincename},
                    #{cityname},
                    #{areaname},
                    #{receivename},
                    #{receivephone},
                    #{addressdetail},
                    #{housenumber},
                    #{isdefault},
                    #{lat},
                    #{lng},
                    #{createtime},
                    #{valid}
        )
    </insert>
</mapper>