<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>充值项目分类</title>
    <link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="css/global.css" media="all">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="admin-main">

    <!-- <p class="page-tab"><span class="layui-breadcrumb" lay-separator="&gt;" style="visibility: visible;"><a href="">首页<span class="layui-box">&gt;</span></a><a><cite>用户列表</cite></a></span></p>-->
    <div class="handle-box">
        <ul>
            <form action="" class="layui-form">
                <li class="handle-item layui-clear">
                    <div class="fl" style="float: left;">
                         <div class="layui-input-inline">
                             <label class="layui-form-label" style="width: auto;">分类：</label>
                             <input type="text" autocomplete="off" placeholder="请输入分类名称" class="layui-input" style="width: 300px;" />
                         </div>
                         <button class="layui-btn" >查询</button>

                    </div>
                    <span class="fr" style="float: right;">
                        <a class="layui-btn layui-btn-danger radius btn-delect" id="btn-delect-all"><i class="layui-icon">&#xe640;</i> 批量删除</a>
                        <a  class="layui-btn btn-add btn-default" id="btn-addrechargeitem"><i class="layui-icon">&#xe608;</i> 添加分类</a>
                    </span>
                </li>
            </form>
        </ul>
    </div>


    <table class="site-table table-hover">
        <thead>
        <tr>
            <th style="width: 30px;"><input type="checkbox" id="selected-all"></th>
            <th>分类</th>
            <th>备注</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td  style="width: 30px;"><input type="checkbox"></td>
            <td>分类一</td>
            <td>分类备注</td>
            <td>2016-12-12</td>
            <td>
                <a href="" class="layui-btn layui-btn-mini">编辑</a>
                <a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
            </td>
        </tr>
        <tr>
            <td  style="width: 30px;"><input type="checkbox"></td>
            <td>分类一</td>
            <td>分类备注</td>
            <td>2016-12-12</td>
            <td>
                <a href="" class="layui-btn layui-btn-mini">编辑</a>
                <a href="javascript:;" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
            </td>
        </tr>

        </tbody>
    </table>

    <div class="admin-table-page">
        <div id="page" class="page">
        </div>
    </div>

</div>
<!-- <script type="text/javascript" src="js/layer.js"></script>-->
<script type="text/javascript" src="plugins/layui/layui.js"></script>
<script>
    layui.config({
        base: 'plugins/layui/modules/'
    });
    layui.use(['icheck', 'laypage','layer','form'], function() {
        var $ = layui.jquery,
                laypage = layui.laypage,
        /*layer = parent.layer === undefined ? layui.layer : parent.layer;*/
                layer = layui.layer;
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
        });

        //分页
        laypage({
            cont: 'page',
            pages: 25, //总页数
            groups: 5, //连续显示分页数
            jump: function(obj, first) {
                //得到了当前页，用于向服务端请求对应数据
                var curr = obj.curr;
                if(!first) {
                    //layer.msg('第 '+ obj.curr +' 页');
                }
            }
        });

        //新增分局弹框
        $("#btn-addrechargeitem").on('click',function(){
            layer.open({
                type: 2,
                title: '添加充值分类',
                fix: false,
                maxmin: true,
                shadeClose: true,
                area: ['600px', '300px'],
                content: 'recharge-itemnew.html',
                end: function(){
                    //layer.tips('Hi', '#about', {tips: 1})
                }
            });
        });

        //表格选择
        $('.site-table tbody tr').on('click', function(event) {
            var $this = $(this);
            var $input = $this.children('td').eq(0).find('input');
            $input.on('ifChecked', function(e) {
                $this.css('background-color', '#EEEEEE');
            });
            $input.on('ifUnchecked', function(e) {
                $this.removeAttr('style');
            });
            $input.iCheck('toggle');
        }).find('input').each(function() {
            var $this = $(this);
            $this.on('ifChecked', function(e) {
                $this.parents('tr').css('background-color', '#EEEEEE');
            });
            $this.on('ifUnchecked', function(e) {
                $this.parents('tr').removeAttr('style');
            });
        });
        //全选
        $('#selected-all').on('ifChanged', function(event) {
            var $input = $('.site-table tbody tr td').find('input');
            $input.iCheck(event.currentTarget.checked ? 'check' : 'uncheck');
        });
        //搜索区域
        var form = layui.form(),
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate;
        //自定义验证规则
        form.verify({
            /* police: function(value) {
             if(value.length < 4) {
             return '标题至少得4个字符啊';
             }
             },
             pass: [/(.+){6,12}$/, '密码必须6到12位'],
             content: function(value) {
             layedit.sync(editIndex);
             }*/
        });

        //监听提交
        form.on('submit(branch)', function(data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });
    });


</script>

</body>

</html>